<h1>Book  </h1>
<table class="table">
        <%
        var i = 0;
        while(i < results.length){
        %>
        <tr>
                <td><img src="<%=results[i].img%>" style="width:100px;height:100px; "></td>
                <td><a href="/bookdetail/<%=i+1%>"><%=results[i].name%></a></td>
                <td><%=results[i].author%></td>
                <td><%=results[i].price%>원</td>
        </tr>
        <%
        i++;
        }
        %>
</table>
